.container {
  width: 60%;

}

h1 {
  height: 30%;
  background-color: #428BCA;
  color: white;
}

.submit {
  background-color: #C9DEF0;
  color: white;
  padding: 10px;
}

button {
  background-color: #428BCA;
  color: white;
}
