* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Heebo', sans-serif; }

.container {
  width: 45%;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 2px;
  margin: 0 auto; }

h1 {
  height: 30%;
  background-color: #428BCA;
  color: white;
  padding: 10px;
  font-weight: 300;
  margin: 0;
  padding: 30px; }

.fa {
  color: lightgrey;
  position: absolute;
  display: block;
  float: left;
  z-index: 1;
  right: 69%; }

.formInputs {
  margin: 0 auto;
  padding: 25px;
  display: block;
  position: relative; }

input {
  line-height: 3em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 2px;
  display: inline;
  z-index: 0;
  font-weight: 400; }

select {
  width: 46em;
  height: 3em;
  display: block;
  border-radius: 2px; }

textarea {
  width: 33em;
  height: 4em;
  display: block; }

.submit {
  background-color: #C9DEF0;
  color: white;
  padding: 20px;
  font-size: 10pt; }

button {
  background-color: #428BCA;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px; }
