.container {
  width: 45%;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 2px; }

h1 {
  height: 30%;
  background-color: #428BCA;
  color: white;
  padding: 10px;
  font-weight: lighter;
  margin: 0;
  letter-spacing: -1px; }

.submit {
  background-color: #C9DEF0;
  color: white;
  padding: 20px; }

button {
  background-color: #428BCA;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px; }
